<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/smssn/css/style.css') }}" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
        <meta charset="UTF-8" />
        <title>SSN</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}
    </head>
    <body>
        <div id="content">
            <div id="header">
                {% block header %}
                    <h1>SSN</h1>
                    <nav>
                        <ul id="userNav">
                            <li><a href="{{ url('smssn_homepage') }}">HOME</a></li>

                            <div>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            {{ 'Logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    </li>
                                  <li>
                                        <a href="{{ path('fos_user_profile_edit') }}">
                                            {{ 'Profil'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                {% else %}
                                    <li><a href="{{ url('fos_user_security_login') }}">Login</a></li>
                                   <li><a href="{{ url('fos_user_registration_register') }}">Register</a></li>
                                {% endif %}
                            </div>

                            
                        </ul>
                    </nav>
                
                {% endblock %}
            </div>
            
            <div id="container">
                {% block body %}
                    


                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="flash-message">
                            <em>Notice</em>: {{ flashMessage }}
                        </div>
                    {% endfor %}
                


                    <div class="content">
                        {% block content %}
                            <div>
                                {% block fos_user_content %}
                                {% endblock fos_user_content %}
                            </div>
                        {% endblock %}
                        <div class="clear"></div>
                    </div>


                
                    {% if code is defined %}
                        <h2>Code behind this page</h2>
                        <div class="block">
                            <div class="symfony-content">{{ code|raw }}</div>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
            <div id="footer">
                {% block footer %}
                    
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}
        
        {% endblock %}
    </body>
</html>